<a href="https://colab.research.google.com/github/jamiesiochi/Elective-Lab-1-2/blob/main/Introduction_to_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Phyton Indentation

In [2]:
x=27
y=22

if x>y:
  print("x is greater than y")

x is greater than y

In [7]:
if 27>22:         #This is a comparison between 22 and 27
  print("27 is greater than 22")

if 22>27:
  print("27 is greater than 22")
else:
  print("22 is less than 27")

27 is greater than 22
22 is less than 27

In [17]:
x = 'Jamie'
y = 5.5
z = 3

print(x)
print(y)
print(z)

Jamie
5.5
3

In [16]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'float'>
<class 'int'>